* {
  color: #8892af;
  background-color: #0a182e;
}

 .developed {
  font-family: SFMonoRegular;
  color: #ff7a70;
  text-align: end;
  margin: 15px;
  font-size: small;
 }


@media screen and (max-width: 760px) {
  html {
    width: 100%
  };
}